*:not(head) {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
}

button,
fieldset,
input,
legend,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}



.atom_hei-12vh {
    height: 12vh;
}

.atom_hei-88vh {
    height: 88vh;
}

.atom_gridTempCol-12vh_1fr_12vh {
    grid-template-columns: 12vh 1fr 12vh;
}


.atom_hei-100pc {
    height: 100%;
}

.atom_wid-100pc {
    width: 100%;
}

.atom_grid {
    display:grid
}

.atom_placeIt-center {
    place-items: center;
}

.atom_hei-fitCon {
    height: fit-content;
}

.atom_wid-fitCon {
    width: fit-content;
}

//.atom_width